.DS_Store
__pycache__/
old/
dashboards/
!python/grafana_utils/dashboards/
!python/grafana_utils/dashboards/**/
!python/grafana_utils/dashboards/**/*.py
python/grafana_utils/dashboards/**/__pycache__/
python/grafana_utils/dashboards/**/*.pyc
build/
dist/
*.egg-info/
tmp/
